<!DOCTYPE html>
<html>
  <head>
    <title>WhereUAt</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top"></div>

    <div class="container main">
      <%= yield %>
    </div>

    <div class="bottom"></div>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js" %>
    <%= javascript_include_tag 'application' %>
    <%= yield :additional_scripts %>
  </body>
</html>
